.collection-item {
    width: 22%;
    max-width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        background-color: greenyellow;
        margin-bottom: 5px;
    }

    .collection-footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

    }
}